@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}

:root {
    --navedu-blue: #4d9de0;
}

.overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(256, 256, 256);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: black;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: rgba(0, 0, 0, 0.5);
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.hero-container {
    width: 100%;
    height: 100vh;
    background-color: var(--navedu-blue);
    color: white;
}

.hero-svg {
    fill: white;
}

.header-bottom-shape {
    bottom: -1px;
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;
    direction: ltr;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.footer-top-shape {
    top: -1px;
    overflow: hidden;
    position: relative;
    left: 0;
    width: 100%;
    line-height: 0;
    direction: ltr;
    transform: scaleY(.25) translateY(-150%);
}

.btn-shade {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    outline: 1px solid rgba(0, 0, 0, 0.05);
    text-transform: uppercase;
    color: white;
    animation: box-shadow ease-in-out 250ms;
    border-radius: 100px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: .5em;
    padding-bottom: .5em;
}

.btn-shade:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    color: white;
}

.btn-shade:focus {
    outline: 1px;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.nav-item {
    display: flex;
    align-items: center;
    padding-left: 2em;
}

.body-container {
    min-height: 100vh;
    padding-top: 20rem;
    text-align: center;
}

.hero-content-container {
    padding-top: 6rem;
    text-align: center;
}

h1 {
    font-size: 80px;
    font-weight: 600;
}

h2 {
    font-size: 60px;
    font-weight: 600;
}

h3 {
    font-size: 50px;
    font-weight: 600;
}

h4 {
    font-size: 30px;
    font-weight: 600;
}

p {
    font-size: 18px;
    font-weight: 400;
}

.hero-btn {
    background-color: white;
    border-radius: 100px;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 2rem;
}

.hero-btn a {
    text-decoration: none;
    color: var(--navedu-blue)
}

.hero-btn:hover {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.hero-btn:focus {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.hero-image {
    width: 100%;
    aspect-ratio: 16/10;
    background-color: grey;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
}

.footer-container {
    background-color: var(--navedu-blue);
    color: white;
}

.footer-container ul {
    list-style: none;
    padding: 0;
}

.footer-container .row {
    font-size: 18px;
    font-weight: 400;
}

.footer-container li {
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
}

.footer-logo {
    width: 25%;
    padding-bottom: 5rem;
}